*{
	margin: 0;
	padding: 0;
	list-style:none;
}
a{
	text-decoration: none;
}
body,html{
	background: #F0F3EF;
}
.clearfix{
	zoom:1;
}
.claerfix:after{
	content: '';
	display: block;
	clear: both;
}
.left{
	 float:left;
	/*position:relative;*/
}

/*.left .left-A{
	position:relative;
}*/
.right{
	float: right;
}
.w{
	width: 100%;
}
.jz{
	margin: 0 auto;
}
.ss{
	border-bottom: 3px solid red;
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	z-index: 6666;
	display: none;
	width: 1366px;
}
.ss img{
	 margin-left: 80px;
}
.ss .btn{
	margin-top: 8px;
	background:#F10215;
	height: 35px; 
	color:white;
}
.ss #username{
	 width: 500px;
      height: 35px;
      margin-top: 8px;
      background: #EFEFEF;
      border: none;
      margin-left: 60px;
      font-size: 15px;
      font-family: 微软雅黑;
}
.head-img{
	position: relative;
	width: 1355px;
	height: 80px;
}
.head-img img{
	background: white;
	width: 100%;
}
.head-img button{
	position: absolute;
	right: 80px;
	width: 20px;
	height: 20px;
	top:5px;
	background: #666;
	opacity: 0.5;
	color: #555;
}
.item-1 ul{
	height: 30px;
	width: 1355px;
	background: #E3E4E5;
}
.item-1 ul .bj .one{
	margin-left: 290px;
	color: red;
}
.item-1 ul li:nth-child(9) a{
	color: red;
}
.item-1 ul li {
	line-height: 30px;
}
.item-1 ul li a{
	padding: 10px;
	color: #ADAEAE;
}
.item-1 .wdjd{
	position: absolute;
	width: 280px;
	height: 160px;
	z-index: 555;
	background: white;
	display: none;
}
.item-1 .wdjd ul{
	background: white;
	width: 100%;
}
.item-1 .wdjd ul li{
	color: #aaa;
	margin-left: 5px;
}
.item-1 .two{
	position: relative;
}
.item-1 .two:hover .wdjd{
	display: block;
}
.item-1 .three{
	position: relative;
}
.item-1 .khfw{
	position: absolute;
	width: 170px;
	height: 250px;
	z-index: 555;
	background: white;
	display: none;
}
.item-1 .khfw ul{
	width: 100%;
	background: white;
}
.item-1 .khfw ul li{
	margin-left:5px;
	color: #aaa;
}
.item-1 .three:hover .khfw{
	display: block;
}



.item-2{
	width: 1355px;
	position: relative;
	height: 143px;
}
.item-2 .img{
	position: absolute;
	top:-28px;
	left: 80px;

}
.item-2 .sous{
	margin-left: 500px;
	width: 500px;
	height: 35px;
	margin-top: 25px;
	background: #FFFFFF;
	border: none;
	margin-left: 400px;
	font-size: 15px;
	font-family: 微软雅黑;
}
.item-2 .btn{
	margin-top: -5px;
	background:#F10215;
	height: 35px; 
	color:white;
}
.list{
	width: 322px;
	height: 332px;
	border: 1px solid #ccc;
	margin-left: 300px;
	z-index:999;
	position:absolute;
	top:110px;
	left:0;
	display:none;
	background: white;
}
.list ul{
	width: 100%;
	background: white;
}
.list li a{
	width: 15px;
	height: 15px;
	margin-top: 10px;
	width:50px;
	height:20px;
	margin-left: 15px;
}
.list ul .red{
	background: red;

}

.bj:hover .list{
	display:block;
}
.suv .red{
	background: red;
}
.item-2 .stor{
	width: 190px;
	height: 35px;
	background: white;
	border:1px solid #ccc;
	margin-right:150px;
	margin-top: 23px; 
	text-align: center;
	line-height: 35px;
	color: red;
}
.item-2 .ewm{	
	margin-top: 0px;
	margin-right: -340px;
}
.item-2 .small-list{
	margin-left: 400px;
}
.item-2 .small-list li:nth-child(1) a{
	color: red;
}
.item-2 .small-list li a{
	padding: 0px  5px;
	color:#999999;
}
.item-2 .big-list{
	margin-top: 35px;
	margin-left: 310px;
}
.item-2 .big-list li a{
	font-size: 15px;
	padding: 17px;
}
.head{
	width: 1355px;
}
.head .left-ul ul .four{
	position: relative;
}
.jydq{
	position: absolute;
	width: 600px;
	height: 500px;
	background: white;
	top:10px;
	left: 180px;
	z-index: 555;
	display:none;
}
.head .left-ul ul .jydq .xk li{
	width: 100px;
	height: 20px;
	text-align: center;
	background:#181818;
	color: white;
	margin-left: 15px;
}
.aaa:hover .jydq{
	display: block;
}
.head .left-ul ul .jydq ul li{
	color: #bbb;
	margin-left: 5px;
	margin-top: 20px;
}

.left-ul{
	background: white;
	height:480px;
	width: 190px;
	margin-left: 80px;
}
.left-ul ul{
	margin-top: 7px;
	width:100%;
	margin-left: 5px;
}
.left-ul ul li a{
	font-size: 14px;
	color:#626262;
}
.left-ul li{
	margin-left: 4px;
}
.left-ul ul li span{
	padding:0 3px;
}
.head .lunbo{
	position: relative;
	width:590px;
	height:470px;
	left: 10px;
	top:20px;
}
.head .lunbo .lunbo-img{
	height: 460px;
	overflow: hidden;	
}
.lunbo>.lunbo-img li{
	width: 590px;
	height: 470px;
	float: left;
	display: none;
}
.lunbo>.num li{
		width:30px;
		height:30px;
		background:#6699ff;
		float:left;
		border-radius:50%;
		text-align:center;
		line-height:30px;
		padding:2px;
		margin-left:10px;
}
.lunbo>.num{
		position:absolute;
		top:400px;
		left:130px;
	}

.lunbo>div{
		width:50px;
		height:100px;
		background:black;
		opacity:0.4;
		position:absolute;
		top:150px;
		font-size: 25px;
		line-height: 100px;
		text-align: center;
		color: white;
		z-index: 5;
		display: none;
}
.lunbo .goleft{
	left: 0;
}
.lunbo .goright{
	right: 0;
}
.head .three{
	margin-top: 20px;
	margin-left: 18px;
}
.head .three img{
	margin-top: 4px;
}
.three img:hover{
	opacity: 0.8;
	transition: all 0.8 linear;
}
.head .loging{
	position: relative;
	width: 190px;
	height: 480px;
	background: white;
	margin-right: 80px;
	margin-top: 25px;
}
.head .login-img{
	position: absolute;
	width: 65px;
	top: -10px;
	left: 55px;
	border-radius: 65px;

}
.head .loging p{
	color: #898989;
	margin-top: 65px;
	margin-left: 43px;
}
.head .logg{
	margin-left: 62px;
}
.head .loging .zc{
	margin-left: 5px;
}
.head .loging span a{
	color: #5B5B5B;
}
.loging .lg{
	margin-left: 0px;
}
.loging .lgg{
	margin-top: -10px;
	margin-left: 15px;
}
.loging .xr{
	display: inline-block;
	width: 70px;
	height: 30px;
	margin-top: 20px;
	color:red;
	transition: all 0.3s linear;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	box-shadow: 2px 2px #ccc;
}
.loging .hy{
	margin-left: 5px;
	display: inline-block;
	width: 70px;
	height: 30px;
	color: #DFD28D;
	background: #363634;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	transition: all 0.3s linear;
	box-shadow: 2px 2px #ccc;
}
.xr:hover{
	background: red;
	color: white;
}
.hy:hover{
	background: red;
	color: white;
}
.small-xxk{
	margin-top: 15px;
}
.small-xxk .tab_t .selected{
	
}
.small-xxk .tab_t  span{
	color: #ccc;
	padding: 4px;
}
.small-xxk .tab_t .right{
	position: absolute;
	right: 15px;
}
.small-xxk .obj{
	margin-top: 10px;
	margin-left: 15px;
}
.small-xxk .obj ul li{
	color: #686868;
	margin-top:4px;
}
.hide{
	display: none;
}
.tab_c{
	clear: both;
}
.body-1{
	margin-top: 30px;
	width: 1355px;
}
.body-1 .time{
	background: #E83632;
	width:190px ;
	height:275px;
	margin-left: 80px;
}
.body-1 .time .fp{
	color: white;
	font-family: 微软雅黑;
	font-size: 30px;
	margin-top: 53px;
	margin-left: 32px;
}
.body-1 .time .tp{
	color: #F39A98;
	margin-left: 32px;
	font-size: 20px;
}
.body-1 .time .logo{
	color: white;
	font-size: 30px;
	margin-left: 75px;
}
.body-1 #boxx div{
	float: left;
	width:40px;
	height: 40px;
	margin-left: 20px;
	background:#2F3430;
	color:white;
	text-align: center;
	font-size: 25px;
}
.body-1 .lunbo-four img{
	margin-left: 2px;
}
.body-1 .lunbo-two{
	width: 200px;
	height: 275px;
	background: white;
	margin-right: 75px;
	position: relative;
}
	.lunbo-two>.img>li{
		width:200px;
		height:275px;
		float:left;
		display:none;
	}
		.lunbo-two>.img>li img{
		width:200px;
		height:275px;
	}
	
	.lunbo-two>.num{
		position:absolute;
		top:200px;
		left:60px;
	}
	.lunbo-two>.num li{
		width:20px;
		height:20px;
		background:#6699ff;
		float:left;
		border-radius:50%;
		text-align:center;
		line-height:20px;
		padding:2px;
		margin-left:10px;
	}
	.live{
		width: 1355px;
	}
	.live-1{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 80px;
		margin-top: 30px;
	}
	.live-1-ul{
		margin-left: 20px;
		margin-top:20px;
	}
	.live-1-ul .li-1{
		font-size: 20px;
	}
	.live-1-ul .li-2{
		width: 20px;
		height: 20px;
		border: 1px solid red;
		border-radius: 20px;
		text-align: center;
		margin-top: 5px;
		color: red;
		margin-left: 5px;
	}
	.live-1-ul .li-3{
		font-size: 15px;
		color: #999999;
		margin-top: 5px;
		margin-left: 5px;
	}
	.live-2-img li img{
		height: 340px;
	}
	.live-2-ul{
			margin-top: 20px;
			background: #F7F7F7;
			width: 100%;
			height: 35px;
			line-height: 35px;
		}
	.live-2-ul li{
		margin-left: 22px;
		font-size: 12px;
		}
	.live-2{
		margin-top: 30px;
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 10px;
	}
	.live-2-img{
		clear:both;
	}
	.live-3{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 10px;
		margin-top: 30px;
	}
.selected{
		text-decoration: none;
	}
	.lunbo-n li{
		margin-left: 20px;
		margin-top: 20px;
		display: none;
	}
	.moban:hover{
		opacity: 0.8;
	}
	.live-3 .live-3-img img:hover{
		opacity: 0.8;
		
	}
	.xqx{
		margin-top: 20px;
		margin-left: 50px;
		font-size: 18px;
		color: #333333;
	}
	.dqx{
		margin-top: 10px;
		margin-left: 20px;
		font-size: 13px;
		color: #999;
	}
	.live-2 img:hover{
		opacity: 0.8;
	}
	.hhh {
		height: 30px;
	}
	.hhh h1{
		text-align: center;
		line-height: 60px;
	}
	.wz{
		margin-left: 20px;
		margin-top: 20px;
	}
	.hl{
		margin-left: 20px;
		margin-top: 10px;
	}
	.jx{
		margin-left: 10px;
		margin-top: 10px;
	}
	.live-1 img:hover{
		opacity: 0.7;
	}
	.girl{
		margin-left: 20px;
		margin-top: 20px;
	}
	.ttt{
		margin-left: 40px;
		margin-top: 10px;
	}
	.bd{
		margin-top: 45px;
		margin-left: 50px;
		border: 5px solid black;
		position: relative;
		width:350px;
		height: 425px;
	}
	.bd img{
		position: absolute;
		top:-20px ;
		left:-20px;
	}
	.cpy{
		margin-top: 50px;
		margin-left: 80px;
		border: 5px solid black;
		position: relative;
		width:360px;
		height: 425px;
	}

	.bbg{
		position: absolute;
		top:-20px ;
		right:-15px;
	}
	.mxx{
		position: absolute;
		top:200px;
		right: -15px;
	}
	.center{
		background: #F0F3EF;
		width: 390px;
		height: 450px;
		margin-top: 35px;
		margin-left: 30px;
	}
	.center img{
		margin: 2.5px;
	}
	.center img:hover{
		opacity: 0.9;
	}
	.mlgb{
		width:390px;
		height:450px ;
		background: white;
		margin-left: 10px;
		margin-top: 38px;
	}
	.jz{
		margin-left: 20px;
		margin-top: 20px;
	}
	.xq{
		margin-left: 20px;
		margin-top: 10px;
	}
	.sh{
		margin-left: 10px;
		margin-top: 10px;
	}
	.gg-1{
		margin-top: 50px;
		margin-left: 80px;
		border: 5px solid black;
		position: relative;
		width:360px;
		height: 425px;
	}
	.gg-1{
		width: 360px;
		height: 425px;
		background: white;
	}
	h1{
		text-align: center;
	}
	.lil{
		width: 1355px;
	}
	.gang{
		margin-top: 30px;
		margin-left: 80px;
		border: 5px solid black;
		position: relative;
		width:360px;
		height: 425px;
	}
	.gang img{
		position: absolute;
		top: -15px;
		right: -15px;
	}
	.gucci{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 30px;
		margin-top: 20px;
	}
	.bx{
		margin-top: 20px;
		margin-left: 20px;
	}
	.yyb{
		margin-top: 10px;
		margin-left: 20px;
	}
	.biao{
		margin-top: 10px;
		margin-left: 10px;
	}
	.zbhl{
		width: 1355px;
	}
	.mc{
		width: 390px;
		height: 450px;
		margin-top: 20px;
		margin-left: 70px;
		background: white;
	}
.gog{
		background: #F0F3EF;
		width: 390px;
		height: 480px;
		margin-top: 20px;
		margin-left: 30px;
}
.lol{	margin-top: 45px;
		margin-left: 50px;
		border: 5px solid black;
		position: relative;
		width:350px;
		height: 425px;
	}
	.jd{
		position: absolute;
		left: -20px;
		top: -30px;
	}
	.zx{
		position: absolute;
		left: -20px;
		top: 200px;

	}
	.lol,.gog img:hover{
		opacity: 0.8;
	}
	.njby{
		width: 1355px;
	}
	.xqw{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 70px;
		margin-top: 20px;
	}
	.tfz{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 30px;
		margin-top: 20px;
	}
	.lyl{
		margin-top: 35px;
		margin-left: 50px;
		border: 5px solid black;
		position: relative;
		width:350px;
		height: 425px;
	}
	.lyl img{
		position: absolute;
		top: -20px;
		left: -20px;
	}
	.wxy{
		width: 1355px;
	}
	.cyf{
		margin-top: 30px;
		margin-left: 85px;
		border: 5px solid black;
		position: relative;
		width:360px;
		height: 425px;
	}
	.cyf img{
		position: absolute;
		left: -20px;
		top: -20px;
	}
	.fmg{
		background: #F0F3EF;
		width: 390px;
		height: 450px;
		margin-top: 30px;
		margin-left: 30px;
	}
	.fmg img{
		margin: 2.5px;
	}
	.npc{
		width: 390px;
		height: 450px;
		background: white;
		margin-left: 30px;
		margin-top: 33px;
	}
	.ree{
		margin-left: 20px;
		margin-top: 20px;
	}
	.fx{
		margin-left: 20px;
		margin-top: 10px;
	}
	.xbx{
		margin-top: 10px;
		margin-left: 20px;
	}
	.hx{
		margin-top: 10px;
		margin-left: 30px;
	}.bh{
		width: 1355px;
	}
	.bh-left{
		width: 390px;
		height: 450px;
		background: white;
		margin-left: 70px;
		margin-top: 30px;
	}
	.pinkguy{
		margin-top: 20px;
		margin-left: 20px;
	}
	.tea{
		margin-top: 10px;
		margin-left: 20px;
	}
	.bh-left img:hover{
		opacity: 0.8;
	}
	.jjb{
		background: white;
		width: 390px;
		height: 450px;
		margin-left: 30px;
		margin-top: 30px;
	}
	.jax{
		margin-top: 55px;
		margin-left: 50px;
		border: 5px solid black;
		position: relative;
		width:350px;
		height: 415px;
	}
	.three-lb{
		width: 1355px;
		margin-top: 20px;
	}
	.three-1{
		width: 390px;
		height: 330px;
		background: white;
		margin-left: 70px;
	}
	.three-2{
		width: 390px;
		height: 330px;
		margin-left: 30px;
		background: white;
	}
	.three-3{
		width: 390px;
		height: 330px;
		margin-left: 30px;
		background: white;
	}
	.baby{
		margin-top:20px;
		margin-left: 20px;
	}
	.ipad{
		margin-top:20px;
		margin-left: 20px;
	}
	.viki{
		margin-left: 20px;
	}
	.zb{
		width: 1355px;
		margin-top: 20px;
	}
	.zb-1{
		width: 390px;
		height: 425px;
		margin-left: 70px;
		background: white;
	}
	.zb-1 img{
		margin: 12px;
	}
	.zb-1 img:hover{
		opacity: 0.8;
	}
	.zb-2{
		width: 390px;
		height: 425px;
		margin-left: 30px;
		background: white;
	}
	.zb-2 img{
		margin: 20px ;
	}
	.zb-3{
		width: 390px;
		height: 425px;
		margin-left: 30px;
		background: white;
	}
	.zb-3 img{
		margin: 12px;
	}
	.zb-3 img:hover{
		opacity: 0.8;
	}
	.line1{
		width: 1355px;
	}
	.line1-1{
		position: relative;
		margin-left: 70px;
		margin-top: 30px;
		background: white;
		width: 230px;
		height: 305px;
	}
	.line1-1 img{
		margin-left: 15px;
		transition: all 1s ease;
	}
	.zxs{
		position: absolute;
		z-index: 50px;
		left: 125px;
		top: 150px;
		width: 50px;
		height: 50px;
		background: black;
		opacity: 0.6;
		border-radius: 50px;
		color: white;
		line-height: 50px;
		text-align: center;
		display: none;
	}
	.line1-1:hover .zxs{
		display: block;
		
	}
	.line1-1:hover img{
		opacity: 0.6;
	}

	.line1-2{
		position: relative;
		margin-left: 20px;
		margin-top: 30px;
		background: white;
		width: 230px;
		height: 305px;
	}
	.line1-2 img{
		margin-left: 15px;
		transition: all 1s ease;
	}
	.zxs{
		position: absolute;
		z-index: 50;
		left: 100px;
		top: 150px;
		width: 50px;
		height: 50px;
		background: black;
		opacity: 0.6;
		border-radius: 50px;
		color: white;
		line-height: 50px;
		text-align: center;
		display: none;
	}
	.line1-2:hover .zxs{
		display: block;
		
	}
	.line1-2:hover img{
		opacity: 0.6;
	}
	.foot{
		width: 1355px;
		height: 110px;
	}
	.foot-1{
		margin-left: 115px;
	}
	.foot ul{
		margin-top: 40px;
		margin-left: 90px;

	}
	.last{
		width: 1355px;
	}
	.pgo{
		font-size: 20px;
		margin-top: 8px;
	}
	.fujia{
		width: 1355px;
	}
	.ul-1{
		margin-top: 25px;
		margin-left: 80px;
	}
	.ul-1 li{
		padding: 2px;
	}
	.ul-2{
		margin-top: 25px;
		margin-left: 140px;
	}
	.ul-2 li{
		padding: 2px;
	}
	.fujia ul li{
		color: #666666;
	}
	.fxxk{
		margin-top: 18px;
		margin-left: 135px;
	}
	.fxxk li{
		color: #666666;
	}
	.fxxk li span{
		padding: 0 12px;
	}
	.fxck{
		width: 1355px;
		margin-left: 280px;
		margin-top: 18px;
	}
	.fxck .fuxk li{
		color: #999;
	}
	.fxck .fuxk li span{
		padding: 0 10px;
	}
	.sup{
		width: 1355px;
		margin-left: 245px;
		margin-top: 12px;
	}
	.reme li{
		color: #999;
	}
	.reme li span{
		padding: 12px;
	}
	.ni{
		width: 1355px;
		margin-left: 413px;
		margin-top: 10px;
	}
	.ke li{
		color: #999;
	}
	.ke li span{
		padding: 12px;
	}
	.adi{
		width: 1355px;
		margin-left: 500px;
		margin-top: 12px;
	}
	.das li{
		color: #999;
	}
	.das li img{
		margin-top: 4px;
		padding: 0 3px;
	}
	.das li span{
		padding: 12px;
	}
	.given{
		width: 1355px;
		margin-top: 10px;
		margin-left: 580px;
	}
	.chy li{
		color: #999;
	}
	.chy li span{
		padding: 0 10px;
	}
	.thanks {
		width: 1533px;
		margin-left: 380px;
		margin-top: 20px;
	}
	.mine{
		margin-top: 40px;
	}
	.mine footer{
		margin-bottom: 0px;
		font-size: 12px;
		text-align: center;
		color:#f0c;
	}
	